ul.location-search {
  @include add-list-reset;
  text-align: left;
  border: 1px solid lightgray;
  padding: 0.5rem;
  li {
    margin-top: 0.5rem;

    &:hover, &.hover {
      background: lightgray;
    }

    &.citation, &.citation:hover {
      text-align: right;
      background: white;
    }
  }
}

// incredible hack to trigger js events via animations
// from https://github.com/klarna/ui/blob/v4.10.0/Field/styles.scss#L228-L241

input {
  &:-webkit-autofill {
    // Expose a hook for JavaScript when auto fill is shown.
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillStart;

    // Make the backgound color become yellow _really slowly_
    transition: background-color 50000s ease-in-out 0s;
  }

  &:not(:-webkit-autofill) {
    // Expose a hook for JS onAutoFillCancel
    // JavaScript can capture 'animationstart' events
    animation-name: onAutoFillCancel;
  }
}