.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usa-nav__primary-item {
  a.usa-button {
    background-color: #005ea2;
    color: white;
    &:hover {
      background-color: #1a4480;
      color: white;
    }
  }
}

.index-hero {
  .usa-hero__callout {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 4rem 2rem;
    width: 100vw;
    max-width: none;
    @include at-media("tablet") {
      padding: 4rem;
    }
    @include at-media("desktop") {
      width: auto;
      max-width: 21em;
    }
  }

  .usa-hero-container {
    flex-direction: column;
    display: flex;
    justify-content: center;
    background: #1D5AA0;
  }

  .usa-hero {
      background-size: contain;
      background-repeat: no-repeat;
      height: 100%;
      min-height: 10rem;
      @include at-media("tablet") {
        min-height: 15rem;
      }
  }

  .usa-hero__heading {
    font-size: 1.5rem;
    @include at-media("tablet") {
      font-size: 1.8rem;
    }
    @include at-media("desktop") {
      font-size: 2rem;
    }
  }
}

// sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

.usa-footer__logo-img {
  max-width: 12.5rem;
  @include at-media("desktop") {
    max-width: 15rem;
  }
}

// re-create circle-124.png in css
.usa-media-block__img.background-circle {
  background: #0073C2;
  border-radius: 50%;
  width: 124px;
  height: 124px;
}

.usa-legend {
  font-size: 1.5rem;
  @include at-media("tablet") {
    font-size: 2rem;
  }
}

// centered form
.form-container {
  form {
    text-align: center;
    margin-top: calc(min(2rem, 20%));

    &.margin-top-5pct {
      margin-top: 5%;
    }
    max-width: 100%;

    fieldset {
      margin-bottom: 3rem;
    }
  }

  .usa-button {
    margin-bottom: 0.75rem;
  }

  .usa-button-group.nav-container {
    justify-content: center;
  }

  .progress-container {
    margin: 1rem 0;
    text-align: center;
  }

  .error-container {
    text-align: center; 
  }
}

// step specific issues
.button-grid {
  min-width: 200px;
  max-width: 620px;
  margin: auto;
  & + label {
    display: block;
    margin-top: 1rem;
  }
}

button.icon-left svg {
  margin-right: 10px;
}
button.icon-right svg {
  margin-left: 10px;
}

ul.range-slider-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;

  li {
    font-size: 0.8em;
    max-width: 5rem;
    display: block;
    text-align: center;

    @include at-media("desktop") {
      max-width: 10rem;
      font-size: 1em;
    }
  }
}

.us-state-map {
  height: auto;

  path {
    pointer-events: all;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }
}

.__react_component_tooltip {
  ul {
    padding: 0 1.5em;
    li {
      text-align: left;
    }
  }
}

// plan components
.usa-accordion__button {
  background-color: #1a4480;
  &:hover { background-color: #1a4480; color: white; }
  color: white;
}
.usa-accordion__content {
  background-color: #D8E8F6;
}

li.usa-card {
  display: block;
}

.usa-card .usa-card__img {
  background-color: unset;

  img.very-small {
    max-width: 80px;
  }
}

// only apply to naked uls
.usa-card__body ul:not([class]) {
  padding: 0 0 0 20px;
}

.citation {
  display: block;
  font-style: italic;
  font-size: 0.9em;
  color: gray;
  a { color: gray; }
}

