/* GENERAL */
$theme-show-notifications: false;
$theme-image-path: '~uswds/src/img';

/* TYPOGRAPHY */
$theme-respect-user-font-size: true;
$theme-font-path: '~uswds/src/fonts';
$theme-font-type-sans: 'source-sans-pro';

$theme-typeface-tokens: (
  archivo: (
    display-name: "Archivo",
    cap-height: 364px
  ),
);
$theme-font-type-serif: 'archivo';
$theme-font-serif-custom-stack: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans;
$theme-style-body-element: true;

/* SPACING */
// $theme-grid-container-max-width: 'desktop-lg';

/* COMPONENTS */
$theme-hero-image: '../images/voting-booth.png';