.usa-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usa-hero {
    background-image: url('../images/great-wave.jpg');
    background-size: cover;
    padding: 8rem;
}

// sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}