.icon-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.usa-hero {
    background-image: url('../images/voting-booth.jpg');
    background-position-y: 80%;
    background-size: cover;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

// sticky footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

// re-create circle-124.png in css
.usa-media-block__img.background-circle {
  background: #0073C2;
  border-radius: 50%;
  width: 124px;
  height: 124px;
}

// centered form
.form-container {
  form {
    text-align: center;
    margin-top: 20%;
    &.margin-top-5pct {
      margin-top: 5%;
    }
    max-width: 100%;

    fieldset {
      margin-bottom: 5rem;
    }
  }

  .usa-button-group.nav-container {
    justify-content: center;
  }

  .progress-container {
    margin-top: 1rem;
    text-align: center;
  }
}

// step specific issues
.button-grid {
  min-width: 200px;
  max-width: 620px;
  margin: auto;
}

button.icon-left svg {
  margin-right: 10px;
}
button.icon-right svg {
  margin-left: 10px;
}

ul.range-slider-label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0;

  li {
    max-width: 15%;
    display: block;
    text-align: center;
  }
}

.us-state-map {
  path {
    pointer-events: all;
    stroke-width: 2;
    stroke-linejoin: round;
  }
  path:hover {
    opacity: 0.50;
    cursor: pointer;
  }
}

.__react_component_tooltip {
  ul {
    padding: 0 1.5em;
    li {
      text-align: left;
    }
  }
}

// weird...
li.usa-card {
  display: block;
}

// only apply to naked uls
.usa-card__body ul:not([class]) {
  padding: 0 0 0 20px;
}

.rating-source {
  display: block;
  font-style: italic;
  font-size: 0.9em;
  color: gray;
}